<div class="container">

    <ul>
        <li *ngFor="let item of items | async">
         <div>{{item.author}} / {{item.text}}</div>
          <button (click)="deleteItem(item.key)" class='btn btn-danger'>Delete</button>
        </li>
      </ul>

      <br>

      <form>
          <div class="form-group">
          <input type="text" #newitem  class="form-control"/>
          <button (click)="addItem(newitem)" class='btn btn-success'>Add</button>
         </div>
        </form>

        <br>

        <div *ngIf="afAuth.user | async as user; else showLogin">
            <h1>Hello {{ user.displayName }}!</h1>
            <button (click)="logout()">Logout</button>
          </div>
          <ng-template #showLogin>
            <p>Please login.</p>
            <button (click)="login()">Login with Google</button>
          </ng-template>

          <br><br>

          
        <form class="form-group" id=form_email>
            <div class="alert alert-success" *ngIf="isAuth">Connecté!!</div>
            <div class="alert alert-danger" *ngIf="!isAuth">Déonnecté!!</div>
            <input type="text" #email  class="form-control" placeholder="e-mail"/>
            <input type="text" #password  class="form-control" placeholder="password"/>
            <button (click)="loginWithEmail(email,password)" class='btn     ' >Création</button>
            <button (click)="connexionWithEmail(email,password)" class='btn btn-success' *ngIf="!isAuth">Connexion</button>
            <button (click)="deconnexionWithEmail()" class='btn btn-danger' *ngIf="isAuth">Déconnexion</button>
        </form>                  
          

</div>



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="la.jpg" alt="Los Angeles">
      </div>
  
      <div class="item">
        <img src="chicago.jpg" alt="Chicago">
      </div>
  
      <div class="item">
        <img src="ny.jpg" alt="New York">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


